<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
        Whatthefruit is Nagpur's pioneering fruit-based brand and cloud kitchen startup that is dedicated to offering 
        healthy and nutritious food options to its valued customers. 
        Since its inception in September 2021, Whatthefruit has successfully completed over 20,000 fruit salad box deliveries,
         reaching out to more than 2,000 satisfied customers in Nagpur. With a mission to promote a healthy lifestyle, Whatthefruit has garnered a substantial following, with over 200 customers already subscribing to their monthly offerings.
          With a commitment to quality, freshness, and customer satisfaction, Whatthefruit is revolutionizing the way Nagpur indulges in healthy food choices.
      </p>
      <p>
        At Whatthefruit, we offer a diverse range of health options for our customers to choose from.
        Our product lineup includes a variety of fruit salad boxes, cold-pressed juices, fruit smoothies, and raw fruits, all carefully prepared with complete hygiene measures and using fresh fruits. 
        We understand the importance of maintaining the highest quality standards to ensure that our customers receive the best possible experience. 
        Additionally, we offer convenient subscription plans that allow our customers to cultivate a healthy daily habit of consuming fresh fruits regularly. With Whatthefruit, you can enjoy a delicious and nutritious way to elevate your wellness journey.
      </p>
    </div>
    <div class="col-lg-8 col-md-12 mx-auto mt-3 mb-3">
      <h3>Our location on map</h3>
      <div class="mt-4" id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
</div>

<!-- Categories Start -->
  <div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-8" style="padding: 20px; width: 70%; height: 100%;">
                <!-- <p class="text-right">22 Products</p> -->
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="https://res.cloudinary.com/dedg75ktl/image/upload/v1678644090/whatthefruit/prtnr1_zu9uub.png" alt="">
                </a>
                <!-- <h5 class="font-weight-semi-bold m-0">Raw Fruits</h5> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-8"  style="padding: 10px; width: 70%; height: 100%;">
                <!-- <p class="text-right">14 Products</p> -->
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="https://res.cloudinary.com/dedg75ktl/image/upload/v1678644131/whatthefruit/prtnr--2_nnjohg.jpg" alt="">
                </a>
                <!-- <h5 class="font-weight-semi-bold m-0">Cold Pressed Juices</h5> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-8" style="padding: 10px; width: 70%; height: 100%;">
                <!-- <p class="text-right">10 Products</p> -->
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="https://res.cloudinary.com/dedg75ktl/image/upload/v1678644090/whatthefruit/prtnr3_cfzqyz.png" alt="">
                </a>
                <!-- <h5 class="font-weight-semi-bold m-0">Fruit Shakes</h5> -->
            </div>
        </div>
        
    </div>
</div>
<!-- Categories End -->

<script type="text/javascript" src="/javascripts/map.js"></script>

<%- include ../partials/footer %>
